<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'record.title' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <app-login-icon></app-login-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  @if (selectedAthlete) {
    <div class="ion-margin"
      *ngIf="adding">
      <app-add-record [selectedAthlete]="selectedAthlete"
        (saved)="onSave($event)"></app-add-record>
      <ion-button shape="round"
        expand="full"
        (click)="adding= !adding"
        color="light">
        <ion-icon slot="start"
          name="close-outline"></ion-icon>
        {{ 'general.cancel' | translate }}
      </ion-button>
    </div>
    <ng-container *ngIf="!adding">
      <ion-list>
        <app-record-item *ngFor="let item of records"
          [item]="item"
          (edit)="onEdit($event)"></app-record-item>
      </ion-list>
      <div class="ion-margin">
        <ion-button shape="round"
          expand="full"
          (click)="adding= !adding">
          <ion-icon slot="start"
            name="add-circle-outline"></ion-icon>
          {{ 'record.add' | translate }}
        </ion-button>
      </div>
    </ng-container>
  } @else {
    <p>{{ 'general.noSelectedAthlete' | translate }}</p>
  }
</ion-content>