<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'general.title' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <span *ngIf="selectedAthlete" (click)="onAthlete($event)">{{
        selectedAthlete.name }}</span>
      <ion-button (click)="onAthlete($event)">
        <ion-icon slot="icon-only" name="people-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'general.title' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngIf="selectedAthlete === null">
    <p class="ion-margin">{{ 'athlete.info' | translate }}</p>
  </div>
  <ng-container *ngIf="selectedAthlete">
    <div class="ion-margin" *ngIf="adding">
      <app-add-training-item
        [selectedAthlete]="selectedAthlete"
        [currentDate]="currentDate"
        (saved)="saved($event)"></app-add-training-item>
      <app-template [athlete]="selectedAthlete" [user]="user"></app-template>
      <ion-button expand="full" (click)="adding= !adding" color="light">
        <ion-icon slot="start" name="close-outline"></ion-icon>
        {{ 'general.cancel' | translate }}
      </ion-button>
    </div>
    <ng-container *ngIf="!adding">
      <div class="ion-margin" *ngIf="items; else loadingTemplate">
        <app-training-item
          *ngFor="let item of items"
          [item]="item"
          (removed)="onDelete($event)"
          (done)="onDone($event)"
          (edit)="onEdit($event)">
        </app-training-item>
      </div>
      <div class="ion-margin">
        <ion-button expand="full" (click)="adding= !adding">
          <ion-icon slot="start" name="add-circle-outline"></ion-icon>
          {{ 'training.add' | translate }}
        </ion-button>
      </div>
      <div class="footer">
        <app-date-navigation [selected]="currentDate"
          (selectDate)="onDayChange($event)"></app-date-navigation>
      </div>
    </ng-container>
  </ng-container>
</ion-content>
<ng-template #loadingTemplate>
  <app-loading></app-loading>
</ng-template>
