<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'general.title' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <span *ngIf="selectedAthlete()"
        (click)="onAthlete($event)">{{
        selectedAthlete().name }}</span>
      <ion-button shape="round"
        (click)="onAthlete($event)">
        <ion-icon slot="icon-only"
          name="people-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  @if (selectedAthlete()) {
    <div class="container">
      @if (adding()) {
        <div class="ion-margin">
          <app-add-training-item [selectedAthlete]="selectedAthlete()"
            [currentDate]="currentDate()"
            (saved)="saved($event)"></app-add-training-item>
          <app-template [athlete]="selectedAthlete()"
            [user]="user"></app-template>
          <ion-button shape="round"
            expand="full"
            (click)="adding.set(false)"
            color="light">
            <ion-icon slot="start"
              name="close-outline"></ion-icon>
            {{ 'general.cancel' | translate }}
          </ion-button>
        </div>
      } @else {
        @if (items) {
          @for (item of items; track item.guid) {
            <app-training-item [item]="item"
              (removed)="onDelete($event)"
              (done)="onDone($event)"
              (edit)="onEdit($event)">
            </app-training-item>
          } @empty {
            <p>
              {{ 'history.noItems' | translate }}
            </p>
          }
        } @else {
          <app-loading-icon></app-loading-icon>
        }
        <div class="button-container">
          <ion-button shape="round"
            expand="full"
            (click)="adding.set(true)">
            <ion-icon slot="start"
              name="add-circle-outline"></ion-icon>
            {{ 'training.add' | translate }}
          </ion-button>
        </div>
      }
    </div>
  } @else {
    <p class="ion-margin">{{ 'athlete.info' | translate }}</p>
  }
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    @if (currentDate()) {
      <app-date-navigation [selected]="currentDate()"
        (selectDate)="onDayChange($event)"></app-date-navigation>
    }
  </ion-toolbar>
</ion-footer>